[Desktop Entry]
Version=1.0
Name=Chromium Web Browser
Comment=Access the Internet with Chromium
GenericName=Web Browser
Exec=chromium %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=chromium
StartupNotify=true
Categories=Network;WebBrowser;
